@media (max-width: 90em) {
  .nav-list .list {
    font-size: 1.6rem;
  }
  .navigationbar {
    grid-template-columns: 22rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
  }
  .logo {
    width: 6rem;
    height: 5rem;
  }
  /* //////////////////// */
  .footer {
    padding: 7rem 15rem;
  }

  .card--text p {
    font-size: 1.2rem;
  }

  .card--text a {
    font-size: 1.4rem;
  }

  .footer--text a {
    font-size: 1.2rem;
  }

  .text--group {
    font-size: 1.2rem;
  }

  .text--group a {
    font-size: 1.2rem;
  }

  .footer--middle {
    gap: 3rem;
  }

  .card--set {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .icon--footer > svg {
    width: 20rem;
    height: 4.7rem;
  }

  .icon--group > a > svg {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 80em) {
  .nav-list .list {
    font-size: 1.6rem;
  }
  .clinic--1 {
    font-size: 1.6rem;
  }
  .clinic--2 {
    font-size: 1.8rem;
  }
  .clinic--3 {
    font-size: 0.78rem;
  }
}

@media (max-width: 75em) {
  .nav-list .list {
    font-size: 1.6rem;
  }
}

@media (max-width: 69em) {
  .navigationbar {
    grid-template-columns: 22rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
  }
  .logo {
    width: 6rem;
    height: 5.5rem;
  }

  .nav-list .list {
    font-size: 1.4rem;
    margin-left: 1rem;
  }

  .section--6--h {
    font-size: 3rem;
  }

  .component {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }

  .hero--text--1 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .hero--text--2 {
    color: #e98f00;
    font-size: 5rem;
    font-family: "Julius Sans One", sans-serif;
  }
}
